.clockBackground {
  background-color: #d3c1c3;
  max-width: 350px;
  max-height: 125px;
  min-width: 350px;
  min-height: 125px;
  border-radius: 20px;
  text-align: center;
}

.clockText {
  font-size: 3.75em;
}
h1 {
  padding: 0;
  margin: 0;
}
