.ContainerPlacing {
  margin: 100px auto 0 250px;
}

.input:invalid:required {
  box-shadow: 0 0 5px 1px;
}

.ContainerPlacing ul {
  padding: 0px;
  margin: 0px;
}
.ContainerPlacing ul li {
  list-style: none;
  float: left;
  margin: 10px 20px 30px 10px;
  width: 30%;
  text-align: left;
}

h5 {
  color: #707070;
}

.margin {
  margin: 10px 10px 10px;
}

.centerplacing {
  text-align: center;
  margin: 0px 0px 0px 0px !important;
}

.margin {
  margin: 10px 10px 10px !important;
}

.typeDropdown {
  margin: 10px !important;
  min-width: 225px !important;
  max-width: 225px !important;
}

.reasonInput {
  max-width: 600px !important;
  min-width: 600px !important;
}
