.ContainerPlacing {
  margin: 100px auto 0 250px;
}

.input:invalid:required {
  box-shadow: 0 0 5px 1px;
}
.centerplacing {
  text-align: center;
}

.myForm {
  background-color: #fafafa;
}

.margin {
  margin: 10px 10px 10px !important;
}
.formContainer {
  background-color: #fafafa;
}

.textfield {
  margin-bottom: 30px;
}

.MuiTextField-root {
  margin-bottom: 20px;
  margin: 10px 10px 10px !important;
  width: 25ch;
}

.alert {
  margin-left: 100px !important;
}
