.ContainerPlacing {
  margin: 100px auto 0 250px;
}

.input:invalid:required {
  box-shadow: 0 0 5px 1px;
}

.ContainerPlacing ul {
  padding: 0px;
  margin: 0px;
}
.ContainerPlacing ul li {
  list-style: none;
  float: left;
  margin: 10px 20px 30px 10px;
  width: 30%;
  text-align: left;
}

h5 {
  color: #707070;
}

.makeStyles-image-3 {
  background-color: #fafafa;
}

.margin {
  margin: 10px 10px 10px;
}

.centerplacing {
  text-align: center;
  margin: 0px 0px 0px 0px !important;
}

.margin {
  margin: 10px 10px 10px !important;
}

.cal {
  margin: 10px 80px 50px 0px !important;
  min-width: 50%;
  min-height: 50%;
  max-width: 100%;
  max-height: 100%;
  padding: 0px;
  align-content: flex-start;
}
.myform {
  margin: 50px 0px 0px 0px !important;

  max-width: 80%;
  max-height: 60%;
  padding: 0;
  align-content: flex-start;
}
.formpositioning {
  display: flex;
  justify-content: space-between;
}

.priorityDropdown {
  margin-top: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  min-width: 225px !important;
  max-width: 225px !important;
  margin-bottom: 10px !important;
}

.MuiTabs-flexContainer {
  background-color: #292770;
}
.MuiTab-textColorPrimary {
  color: #ffffff !important;
}

.heading {
  margin-top: 20px !important;
}